<ng-container *ngIf="menuItem$ | push as item">
  <mat-expansion-panel *ngIf="item?.children else leaveItem">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <a [routerLink]="item.link" mat-list-item routerLinkActive="active">
          {{ item.label }}
        </a>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <rx-angular-side-nav *ngFor="let childItem of item?.children" [menuItem]="childItem">
    </rx-angular-side-nav>
  </mat-expansion-panel>

  <ng-template #leaveItem>s
    <a [routerLink]="item.link" mat-list-item routerLinkActive="active">
      {{ item.label }}
    </a>
  </ng-template>
</ng-container>
